@page
@using Microsoft.Extensions.Localization
@using CategoryManagement.Localization
@model CategoryManagement.Web.Pages.CategoryManagement.IndexModel
@inject IStringLocalizer<CategoryManagementResource> L
@{
}
<h1>CategoryManagement</h1>
<p>@L["SamplePageMessage"]</p>
